body {
    background-color: #044b73;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
}
